@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&display=swap');

.sidebar-body{
    position: absolute;
    width: inherit;
    height: inherit;
    margin-top: 10px;
}

ul{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

li.sidebar-routes-item{
    display: list-item;
    margin-right:0;
}


li:hover {
    cursor: pointer;
}

.sidebar-logo{
    position: relative;
    text-align: center;
    font-family: 'IM FELL French Canon', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;

    color: #FEFEFE;
}

.sidebar-routes{
    position: relative;
    top: 30vh;

    font-family: 'Roboto Mono', 'monospace';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

li.sidebar-routes-item:is(:first-child){
    text-decoration: underline;
    text-underline-offset: 5px;
}

li.sidebar-routes-item:not(:last-child){
    margin-bottom: 30px;
}