.app-navbar{
  margin: 0;
  width: 80vh;
  text-align: end;
  float:right;
}

.app-sidebar{
  margin: 0;
  width: 20vh;
  min-height: 100vh;
  border-right: 1px solid #000000;
}

.App{
  margin-top: 0px;
}